# Default values for ecr-cleanup.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

schedule: "* 0 * * * "
image:
  # -- Image Registry
  registry: ghcr.io
  # -- Image Repository
  repository: knechtionscoding/ecr-cleanup
  # -- Pull Policy for images in cronjob
  pullPolicy: IfNotPresent
  # -- Overrides the image tag whose default is the chart appVersion.
  tag: ""

# -- ECR Registry ID to override picking the default
awsRegistryId: ""

# -- Should the tool run in dryrun
dryRun: false

# -- Configure Log level of application
logLevel: INFO

# -- List of imagePullSecrets to use when getting images
imagePullSecrets: []
# -- Overriding the Name
nameOverride: ""
# -- Override fullname
fullnameOverride: ""

# -- Command being run by the cronjob
command:
  - /code/main.py

serviceAccount:
  # -- Specifies whether a service account should be created
  create: true
  # -- Annotations to add to the service account
  annotations: {}
  # -- The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# -- Annotations to add to the pod
podAnnotations: {}

# -- Security Context for Pod
podSecurityContext: {}
  # fsGroup: 2000

# -- Security Context for container in cronjob
securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

# -- Resources for container in cronjob
resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

## -- ENV variables to pass to cronjob
extraEnvs: []

# -- Minimum image age in days to consider for cleanup
minimumImageAge: 7
